#testimonials {
    min-height: calc(100vh - 91px); /* Corrigido o cálculo */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.feedback-name {
    font-weight: bold;
}

#testimonial_chef {
    width: 800px;
    height: auto;
    border-radiu
}

#testimonials .section-title {
    font-size: 3rem;
    margin-bottom: 16px;
}

#testimonials .section-subtitle {
    font-size: 2.5rem;
    margin-bottom: 24px;
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.feedback-content p span {
    color: #e9a209;
}

.feedback-content {
    max-width: 100%;
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-title,
    #testimonials .section-subtitle {
        text-align: center;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-title {
        font-size: 2.2rem;
    }

    #testimonials .section-subtitle {
        font-size: 1.6rem;
    }


    #feedbacks {
        gap: 16px;
    }

    .feedback {
        flex-direction: column;
        align-items: center;
    }

    .feedback-content {
        text-align: left;
    }
    
    .feedback-avatar {
        max-width: 800px; /* Ajuste para dispositivos menores */
    }

    #testimonials_content {
        width: 100%;
    }
}
