header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #75BFAB;
    z-index: 3;
}

.font-brand {
    font-family: "Poppins";
    font-weight: bold;
    padding-left: 12px;
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: #fff;
}

#nav_list {
    display: flex; /*Um item ao lado do outro*/
    list-style: none;
    gap: 48px; /*Espaçamento entre eles*/
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}
.nav-item.active a { /*Quando estiver ativo, selecionado, risco abaixo mostrandoa marcação*/
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}

#mobile_btn {
    display: none; /*Esconder o hamburguer*/
}

#mobile_menu {
    display: none;

}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;

    }
     /*Tela maior que 1170px:

    Exibe a barra de navegação com itens completos e botão padrão.
    Esconde o botão móvel.
    Tela menor ou igual a 1170px:
    
    Esconde os itens de navegação completos e o botão padrão.
    Exibe o botão móvel (☰), que pode expandir o menu quando clicado.*/

    #mobile_menu.active { /*Quando o menu estiver aberto*/
        display: flex;
        flex-direction: column; /*Exibir o menu um abaixo do outro*/
        align-items: start;
    }

    #mobile_nav_list {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 6px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
    .btn-default i {
        font-size: 20px;
        padding-right: 12px; /* Tamanho do ícone */
    }
}